# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" (content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [12]:
#Your code here
import pandas as pd
df = pd.read_excel('Data/Zipcode_Demos.xlsx', header=1, usecols=[0,1])
df = df.drop(0)
df.head()

   Average Statistics Unnamed: 1
1   JURISDICTION NAME    10005.8
2  COUNT PARTICIPANTS        9.4
3        COUNT FEMALE        4.8
4      PERCENT FEMALE      0.404
5          COUNT MALE        4.6

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [18]:
#Hint: here's a useful programming pattern to use.
import pandas as pd
for i in range(0,3000):
    try:
    #do something
        df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', nrows=i)
    except:
        print(i)
        break

1962

In [16]:
df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', nrows=5)

In [21]:
df.tail()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
import pandas as pd
for i in range(1963,3000):
    try:
    #do something
        df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', nrows=i, skiprows=1962)
    except:
        print(i)
        break

1963